html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "top-left top-right" "bottom-left bottom-right";
    grid-gap: 5px;
}

.grid {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 145, 155);
}

svg {
    height: 100%;
    width: 100%;
}
