div#grid {
    overflow: hidden;
}

path.region {
    fill:beige;
    stroke:black;
    stroke-width: .02px;
}

path.region:hover {
    fill: red;
}

path.province {

}

.tooltip {
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 15px;
    min-width: 100px;
    text-align: left;
    color: white;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

.select-table {
    position: absolute;
    left: 10px;
    top: 10px;
}
